<h1>Listing posts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.name %></td>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

    <br/>
    <h2>== Posts.scope_top_5: 5 Records, Order by Title Descending ==</h2>

    <table>
      <tr>
        <th>Name</th>
        <th>Title</th>
        <th>Content</th>
        <th></th>
    	<th></th>
    	<th></th>
      </tr>

    <% @posts_top_5.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>
      <tr>
    <% end %>
  </table>

<br/>
<h2>== Posts.scope_top_three: 3 Records, Order by Name Ascending, Starts 2nd Record==</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts_top_3.each do |post| %>
  <tr>
    <td><%= post.name %></td>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= link_to 'Show', post %></td>
  </tr>
<% end %>
</table>

<style>
p { width:400px; }
</style>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

<body>
  <button>Help</button>

  <p>
    If you would like to make a new post, please click on the link below.
  </p>

<script>
  $("p").hide();
  $("button").click(function () {
    $("p").fadeToggle("slow", "swing");
  });
</script>

<br><%= link_to 'New Post', new_post_path %></br>
